* {
  box-sizing: border-box;
}

body, html {
  font-family: Arial, sans-serif;
  margin: 0px;
}

h1, h2, h3, p {
  font-family: "Arial Narrow", sans-serif;
  margin: 0px;
}

#title {
  color: red;
  font-family: "Arial Black", "Arial Narrow", sans-serif;
  font-size: 24pt;
  font-weight: normal;
}

p {
  margin-bottom: 20px;
}

header#header {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: header;
  background-color: #111;
  padding: 0 2%;
}

nav#nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
}
nav#nav a {
  color: #242424;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Arial Narrow", Arial;
  font-size: 12pt;
  font-weight: bold;
}
nav#nav h2 {
  display: none;
}

#tutorialList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-area: tutorialList;
}

#tutorialList p {
  line-height: 150%;
}

#testList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-area: testList;
}

#testList p {
  line-height: 150%;
}

div#container {
  display: grid;
  grid-gap: 14px;
  grid-template-columns: 2fr 23fr 50fr 23fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: "header header header header header" ". . nav . ." ". tutorialList information testList ." "aside aside aside aside aside" "footer footer footer footer footer";
}

section.testlist-group {
  color: #242424;
  font-size: 14pt;
  font-weight: normal;
}
section.tutorialList-group {
  color: #242424;
  font-size: 14pt;
  font-weight: normal;
}
section .testList-heading {
  background-color: darkred;
  border-bottom: 4px solid red;
  width: 100%;
  color: white;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  padding: 5px;
  font-size: 12pt;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
section .tutorialList-heading {
  background-color: darkred;
  border-bottom: 4px solid red;
  width: 100%;
  color: white;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  padding: 5px;
  font-size: 12pt;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

main#information {
  grid-area: information;
}
main h2 {
  font-size: 18pt;
  font-weight: bold;
  color: #242424;
  text-align: center;
}
main p {
  font-size: 12pt;
  font-weight: normal;
  line-height: 140%;
  word-wrap: break-word;
}

main#information article {
  position: relative;
  margin-bottom: 20px;
}
main#information article #info {
  position: absolute;
  color: #242424;
  padding: 10px;
}

li {
  display: flex;
  margin-bottom: 14px;
}

aside {
  grid-area: aside;
  color: #242424;
  font-size: 12pt;
  font-weight: normal;
  padding: 20px;
  margin-top: 60px;
  text-align: center;
}
aside h2 {
  display: none;
}

footer {
  grid-area: footer;
  background-color: #222;
  color: red;
  font-size: 12pt;
  font-weight: normal;
  padding: 20px;
  text-align: center;
}
footer h2 {
  display: none;
}

@media screen and (max-width: 720px) {
  nav#nav {
    flex-direction: column;
    align-items: center;
    line-height: 140%;
  }

  div#container {
    grid-template-areas: "header header header header header" ". .  nav .  ." "information information information information information" "tutorialList tutorialList tutorialList tutorialList  tutorialList" "testList testList testList testList testList" "aside aside aside aside aside" "footer footer footer footer footer";
  }
}
