$colors: (
        1: #242424,
        2: yellow,
        3: darkred
);


$width: 100%;
$text-transform: uppercase;
$text-align: center;

$text-border-bottom: 4px solid red;
$font-family1: 'Arial Black', 'Arial Narrow', sans-serif;
$font-family2:  Arial, sans-serif;
$font-family3: 'Arial Narrow', sans-serif;
$font-family4: 'Arial Narrow', Arial;

@import "homestyle.scss";
