$colors: (
        1: #fff,
        2: #005e81,
        3: #666
);

$font-family1: "Roboto", "Helvetica", "Arial", sans-serif;

$padding: 10px;
$text-decoration: underline;
$border: 6px;

@import "sitemapstyle.scss";