* {
  box-sizing: border-box;
}

body {
  @if $font-family2 == sans-serif {
    font-family: Arial, sans-serif;
  } @else if  $font-family2 == serif {
    font-family: Arial, serif;
  } @else {
    font-family: Georgia, serif;
  }
  margin: 1px - 1px;
}

html {
  @extend body
}

h1,h2,p {
  font-family: $font-family3;
  margin: 1px - 1px;
}

#title {
  color: map-get($colors, 3);
  font: {
    family: $font-family1;
    size: (12pt * 2);
    weight: normal;
  }
}

p {
  margin-bottom: 20px;
}

header {
  &#header {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
    background-color: #111;
    padding: 0 2%;
  }
}

nav {
  &#nav {
    grid-area: nav;
    display: flex;
    justify-content: space + "-between";
    a {
      color: map-get($colors, 1);
      text-decoration: none;
      text-transform: $text-transform;
      font: {
        family: $font-family4;
        weight: bold;
      }
    }
    h1 {
      display: none;
    }
  }
}

@each $div, $grid-area in (tutorial, tutorialList), (test, testList) {
  ##{$div}List {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-area: $grid-area;
    p {
      line-height: (75% * 2);
    }
  }
}

div {
  &#container {
    display: grid;
    grid-gap: 14px;;
    grid: {
      template-columns: 2fr 23fr 50fr 23fr 2fr;
      template-rows: auto;
      template-areas:
              "header header header header header"
              ". . nav . ."
              ". tutorialList information testList ."
              "aside aside aside aside aside"
              "footer footer footer footer footer"
    }
  }
}

section {
  &.testlist-group {
    color: map-get($colors, 1);
    font: {
      size: (7pt * 2);
      weight: normal;
    }
  }
  &.tutorialList-group {
    color: map-get($colors, 1);
    font: {
      size: (7pt * 2);
      weight: normal;
    }
  }
  & .testList-heading {
    background-color: darkred;
    border-bottom: $text-border-bottom;
    width: $width;
    color: white;
    margin: {
      top: 0;
      right: auto;
      bottom: 10px;
      left: auto;
    }
    padding: 5px;
    font: {
      size: (6pt * 2);
      weight: bold;
    }
    text-transform: $text-transform;
    text-align: $text-align;
  }
  $child: "heading";
  & .tutorialList-#{$child} {
    background-color: darkred;
    border-bottom: $text-border-bottom;
    width: $width;
    color: white;
    margin: {
      top: 0;
      right: auto;
      bottom: 10px;
      left: auto;
    }
    padding: (10px / 2);
    font: {
      size: (6pt * 2);
      weight: bold;
    }
    text-transform: $text-transform;
    text-align: $text-align;
  }
}

main {
  &#information {
    grid-area: information;
    article {
      position: relative;
      margin-bottom: 20px;
      & #info {
        position: absolute;
        color: map-get($colors, 1);
        padding: 10px;
      }
    }
  }
  h2 {
    font: {
      size: (9pt * 2);
      weight: bold;
    }
    color: map-get($colors, 1);
    text-align: center;
  }
  p {
    font: {
      size: (6pt * 2);
      weight: normal;
    }
    line-height: 140%;
    word-wrap: break-word;
  }
}

$i: 1;

@while $i < 2 {
  li {
    display: flex;
    margin-bottom: 14px * $i;
    $i: $i + 1;
  }
}

asi {
  &de {
    grid-area: aside;
    color: map-get($colors, 1);
    font-size: 12pt;
    padding: 20px;
    margin-top: 60px;
    text-align: center;
  }
  &de h2 {
    display: none
  }
}

@for $i from 1 to 2 {
  footer {
    grid-area: footer;
    background-color: #222;
    color: map-get($colors, 3);
    font: {
      size: 12pt;
      weight: normal;
    }
    padding: 20px;
    text-align: center;
    h2 {
      display: none;
    }
  }
}

@media screen and (min-width: 1300px) {

  section .testList-heading {
    margin: -65px auto 10px auto;
  }

  section .tutorialList-heading {
    margin: -88px auto 10px auto;
  }
}

@media screen and (max-width: 1000px) {
  nav {
    &#nav{
      flex-direction: column;
      align-items: center;
      line-height: 140%;
    }
  }
  div {
    &#container {
      grid-template-areas: "header header header header header" ". .  nav .  ." "information information information information information" "tutorialList tutorialList tutorialList tutorialList  tutorialList" "testList testList testList testList testList" "aside aside aside aside aside" "footer footer footer footer footer";
    }
  }
}