body {
    background-color: #fff;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0px;
  }
  
  h1 {
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 1%;
    margin-left: auto;
    padding: 10px;
    max-width: 900px;
    color: #575757;
  }
  h1 span {
    float: right;
  }
  h1 a {
    font-weight: normal;
    display: block;
  }
  
  a:link {
    color: #005e81;
    text-decoration: underline;
  }
  a:visited {
    color: #005e81;
    text-decoration: underline;
  }
  a:hover {
    color: #666;
  }
  
  div#top {
    background-color: #b1d1e8;
    font-size: 16px;
    padding-bottom: 40px;
  }
  div#cont {
    position: relative;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    background: #f3f3f3;
    margin-top: -20px;
    margin-right: 30px;
    margin-bottom: 0;
    margin-left: 30px;
    padding: 20px;
  }
  div#footer {
    padding: 10px;
    text-align: center;
  }
  
  nav {
    font-size: 24px;
    margin: 0px 30px 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #f3f3f3;
    color: #666;
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    text-align: center;
    z-index: 1;
  }
  
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  
  li {
    margin: 0px;
    background-color: #fcfcfc;
  }
  li ul {
    margin-left: 20px;
  }
  li.lhead {
    background: #ddd;
    padding: 10px;
    margin: 10px 0px;
  }
  li.lpage {
    border-bottom: #ddd 1px solid;
    padding: 5px;
  }
  li.last-page {
    border: none;
  }
  
  span.lcount {
    padding: 0px 10px;
  }
  