* {
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    margin: 0;
}

h1,h2,p {
    font-family: 'Arial Narrow', sans-serif;
    margin: 0;
}

p {
    margin-bottom: 20px;
}

#container {
    display: grid;
    grid-gap: 14px;
    grid-template-columns: 2fr 23fr 50fr 23fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
            "header header header header header"
            ". . nav . ."
            ". information information information ."
            "aside aside aside aside aside"
            "footer footer footer footer footer"
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
    background-color: #111;
    color: #fff;
    padding: 0 2%;
}

#title {
    color: darkred;
    font-family: 'Arial Black', 'Arial Narrow', sans-serif;
    font-size: 36px;
}

#nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
}

#nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Arial Narrow', Arial;
    font-weight: bold;
}

#nav h1 {
    display: none;
}

main h1 {
    text-align: center;
}

#information {
    grid-area: information;
}

#information article {
    position: relative;
    margin-bottom: 20px;
}

#information article #info {
    position: absolute;
    color: black;
    padding: 10px;
}

li {
    display: flex;
    margin-bottom: 14px;
}

aside {
    grid-area: aside;
    color: black;
    font-size: 15px;
    padding: 20px;
    margin-top: 61px;
    text-align: center;
}

aside h2 {
    display: none;
}

footer {
    grid-area: footer;
    background-color: #222;
    color: white;
    font-size: 15px;
    padding: 20px;
    text-align: center;
}

footer h2 {
    display: none;
}